@use "tools" as *;

html:has(dialog[open]) {
    overflow: hidden;
    scrollbar-gutter: stable;
}

body {
    font-family: var(--font-family);
    color: var(--color-black);
    background-color: var(--color-white);
    font-weight: 400;
    position: relative;
}

button,
a,
input,
summary,
li,
svg {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include hover {
        opacity: 0.9;
    }
}

h1,
.h1 {
    @include fluid-text(43, 24);
}

h2,
.h2 {
    @include fluid-text(36, 24);
}

h3,
.h3 {
    @include fluid-text(24, 16);
}

h4,
.h4 {
    @include fluid-text(20, 14);
}

h5,
.h5 {
    @include fluid-text(18, 14);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mobile-hidden {
    @include mobile {
        display: none;
    }
}

.mobile-visible {
    @include mobile-above {
        display: none;
    }
}

.tablet-visible {
    @include tablet-above {
        display: none;
    }
}
.tablet-hidden {
    @include tablet {
        display: none;
    }
}
