@use 'tools' as *;

:root {
    --font-family: "Montserrat", sans-serif;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-light: #EEF1F4;
    --color-light-alt: #CFDDEB;
    --color-light-alt2: #E9E9E9;
    --color-light-alt3: #E3E3E3;
    --color-light-alt4: #E4E4E4;


    --color-dark: #232323;
    --color-dark-alt: #0F0F0F;
    --color-dark-alt-2: #1B1B1B;
    --color-dark-alt-3: #101010;

    --color-gray: #484848;
    --color-gray-alt: #555555;
    --color-gray-alt2: #727272;


    --color-green: #07AF91;
    --color-blue: #1178B2;
    --color-blue-alt: #88BBD8;
    --color-blue-alt-2: #2A79C2;
    --color-blue-alt-3: #4C8EF0;

    --gradient: linear-gradient(321deg, #016ca8 0%, #61b5e4 100%);;
    --gradient-2: linear-gradient(321deg, #016ca8 0%, #016ca8 100%);;

    --shadow: 0 0 30px 0 rgba(0, 0, 0, 0.09);
    --shadow-2: 0 10px 30px 0 rgba(0, 0, 0, 0.25);

    --border-radius-small: #{rem(3)};
    --border-radius-medium: #{rem(5)};
    --border-radius-large: #{rem(10)};

    --transition-duration: 0.3s;

    --container-width: #{rem(1216)};
    --container-padding-x: #{rem(20)};
}