@use "../tools" as *;
.about {
    &__inner {
        @include flex(flex, start, stretch, column);
        row-gap: fluid(100, 50);
    }

    &__info {
        @include flex(flex, space-between, center);
        column-gap: rem(25);

        @include tablet {
            flex-direction: column;
            row-gap: fluid(25, 20);
        }

        &-image {
            width: fluid(585, 266);
        }

        &-desc {
            @include fluid-text(20, 14);
            max-width: rem(565);
            font-weight: 300;

            p:not(:last-child) {
                margin-bottom: fluid(24, 16);
            }

            @include tablet {
                max-width: rem(630);
                text-align: center;
            }

            span {
                font-weight: 600;
            }
        }
    }

    &__intro {
        @include flex(flex, space-between, center);
        column-gap: rem(25);

        border-radius: var(--border-radius-large);
        box-shadow: var(--shadow);

        padding-inline: fluid(50, 20);

        @include tablet {
            flex-direction: column;
            justify-content: start;
            align-items: center;
            padding-block: fluid(50, 20);
            row-gap: fluid(35, 16);
        }

        &-image-wrapper {
            position: relative;
            z-index: 1;
            width: fluid(375, 234);
            flex-shrink: 0;

            &::before {
                content: "";
                z-index: -1;
                position: absolute;
                top: 55%;
                left: 50%;
                translate: -50% -50%;
                width: 100%;
                height: 90%;
                background: url("../../assets/images/about/about_intro-image-bg.svg") center/contain no-repeat;
            }
        }

        &-desc {
            @include flex(flex, start, stretch, column);
            row-gap: fluid(40, 20);
            padding-block: rem(20);
            max-width: rem(608);

            @include tablet {
                text-align: center;
                padding-block: rem(10);
            }

            @include mobile {
                text-align: left;
            }
        }
        &-person-info {
            @include flex(flex, start, stretch, column);
            @include fluid-text(16, 14);
            row-gap: fluid(14, 7);

            cite {
                font-style: normal;
            }
        }
        &-text {
            @include fluid-text(16, 14);
            font-style: italic;
        }
        &-name {
            font-weight: 500;
        }
    }

    &__images {
        overflow-x: auto;
        &-list {
            display: grid;
            grid-template-columns: repeat(5, rem(236));
            column-gap: rem(7);

            @include mobile {
                grid-template-columns: repeat(5, rem(162));
            }
        }
        &-item {
            border-radius: rem(10);
            overflow: hidden;
            position: relative;
        }
        &-button {
            position: absolute;
            inset: 0;
            z-index: 2;
        }
    }
}
