.bg-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: .5;
    position: absolute;
    inset: 0;
    z-index: -1;

    &--chance {
        opacity: .55;
    }

    &--community {
        opacity: .65;
    }

    &--footer {
        opacity: .78;
    }
}