@use "../tools/" as *;
.contact {
    background: url("../../assets/images/partners/partners-background.jpg") center/cover no-repeat;
    padding-block: fluid(75, 60);
    &__inner {
        @include flex(flex, space-between, stretch, row, wrap);
        column-gap: rem(20);
        row-gap: rem(60);
        min-height: rem(340);

        @media(max-width: rem(1060)) {
            justify-content: center;
            text-align: center;
        }

        @include mobile {
            row-gap: rem(30);
        }
    }
    &__content {
        @include flex(flex, space-between, stretch, column);
        row-gap: fluid(55, 40);
        &-info {
            @include flex(flex, start, stretch, column);
            row-gap: fluid(35, 30);
            color: var(--color-white);
        }
    }
    &__desc {
        @include fluid-text(18, 14);
    }

    &__form-wrapper {
        width: rem(598);
        background-color: var(--color-white);
        border-radius: var(--border-radius-large);
        box-shadow: var(--shadow);
    }
    &__form {
        @include flex(flex, space-between, stretch, column);
        height: 100%;
        padding: rem(30) rem(40);
        row-gap: rem(30);

        @include mobile {
            padding: rem(24) rem(16);
            row-gap: rem(20);
        }

        &-inputs {
            @include flex(flex, start, stretch, column);
        }
        &-input {
            @include fluid-text(16, 14);
            padding-block: fluid(24, 15);
            border: none;
            border-bottom: rem(1) solid var(--color-light-alt4);
        }
        &-button {
            @include mobile {
                width: 100%;
            }
        }
    }
}
