@use "../tools" as *;

.menu {
    &[open] {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        max-width: 100%;
        max-height: 60%;
        margin: 0;
        padding: 0;
        border: none;
        padding: rem(20);
        background-color: var(--color-green);
        color: var(--color-white);
    }

    &::backdrop {
        background-color: var(--color-black);
        opacity: .5;
    }

    &__form {
        align-self: end;
    }

    &__nav {
        height: 100%;

        &-list {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }
        &-item {
            text-align: center;
            width: 55%;
            padding-block: rem(20);
            border-bottom: 1px solid var(--color-white);
        }
    }
}
